<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加文章</title>
    <!--wagnEditor-->
    <link rel="stylesheet" type="text/css" href="/wangEditor/dist/css/wangEditor.min.css">

    <link rel="stylesheet" href="/assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="/assets/css/uniform.default.css" />
    <link rel="stylesheet" href="/assets/css/components.css"  id="style_components" />
    <link rel="stylesheet" href="/assets/css/layout.css"/>
    <link rel="stylesheet" href="/assets/css/darkblue.css"/>
    <link rel="stylesheet" href="/assets/css/simple-line-icons.min.css"/>
    <link rel="stylesheet" href="/assets/css/login-4.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.css"/>
</head>
<body  class=" login">
    <%-include ../header.ejs%>
    <div class="portlet light bordered" style="width: 66%;margin: 0 auto;margin-top: 50px;margin-bottom: 30px;">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-social-dribbble font-purple"></i>
                <span class="caption-subject font-purple bold uppercase">我的文章</span>
            </div>
        </div>
        <div class="portlet-body">
            <%if(articles){for(var i=0 ; i<articles.length; i++){%>
            <div class="well">
                <!--文章标题-->
                <h4>
                    <a href="/articles/articleDetail/<%=articles[i].id%>"><%=articles[i].title%></a>
                    <a href="/articles/deleteArticle/<%=articles[i].id%>" style="float: right;margin: 0 20px 0 30px;">删除</a>
                    <a href="/articles/toAddArticlePage?id=<%=articles[i].id%>" style="float: right;">编辑</a>

                </h4>
            </div>
            <%}}else{%>
            暂无文章发布
            <%}%>
        </div>
    </div>
    <%-include ../footer.ejs%>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/assets/js/respond.min.js"></script>
    <script src="/assets/js/excanvas.min.js"></script>
    <![endif]-->
    <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.backstretch.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        /**
         * 初始化背景图片
         */
            // init background slide images
        $.backstretch([
                    "../assets/pages/media/bg/1.jpg",
                    "../assets/pages/media/bg/2.jpg",
                    "../assets/pages/media/bg/3.jpg",
                    "../assets/pages/media/bg/4.jpg"
                ], {
                    fade: 1000,
                    duration: 8000
                }
        );
    </script>

</body>
</html>